PRODUCT_API_URL= "url de la api que se va a consumir"
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_cuenta@gmail.com
EMAIL_HOST_PASSWORD=tu_app_password
DEFAULT_FROM_EMAIL=tu_cuenta@gmail.com
GEMINI_API_KEY = "api de gemini para el chat"
