{% extends 'base.html' %}
{% block title %}New Password – StayHome{% endblock %}
{% load static i18n %}
{% block content %}
<div class="page">
    <div class="card auth-card">
        <h2 class="section-title" style="text-align:center;"> {% trans "Set new password" %} </h2>

        <form method="POST" class="auth-form">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-errors">{{ form.errors }}</div>
            {% endif %}
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn-list full-width">
                {% trans "Change password" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}