<div class="auth-container">
  <div class="auth-card">
    <h2>Forgot your password?</h2>
    <p class="auth-subtitle">
      input ypur email to get a verificacion link
    </p>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>

      <button type="submit" class="btn-primary">
        send link
      </button>
    </form>

    <a href="{% url 'login' %}" class="auth-link">
      back to login
    </a>
  </div>
</div>
